@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303; /* Deep dark void */
  --foreground: #e0e0e0; /* Off-white text */
  --matrix-green: #00ff41;
  --matrix-dark-green: #008f11;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Forces the hacker terminal aesthetic globally */
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}
